.hero {
  position: relative;
  color: white;
  text-align: center;
  font-family: "Krona One", sans-serif;       /* 전체적인 글꼴 */
  margin: 50px 0;                            /* 헤더로부터 여백을주기 위한 마진 */
  
}

.hero h2 {
  font-size: 100px;
  margin-top: 160px;
  margin-bottom: 15px;      /* 아래 멘트와 여백을 주기 위함 */
  position: relative;
  z-index: 2;               /* 뒤에 열쇠 이미지보다 앞으로 빼기 위함*/
  letter-spacing: 2px;
  transform: translateY(25%);
}

/* 반응형 h2 폰트 크기 조정 */
@media screen and (max-width: 1024px) {
  .hero h2 {
    font-size: 70px;
  }
}

@media screen and (max-width: 768px) {
  .hero h2 {
    font-size: 50px;
    margin-top: 100px;
  }
}

@media screen and (max-width: 480px) {
  .hero h2 {
    font-size: 50px;
    margin-top: 200px;
  }
}


.hero img {
  width: 122%;
  height: 130%;
  opacity: 0.3;                        /* 이미지를 얼마나 투명감을 줄건지 */
  position: absolute;
  left: 50%;                            /* 왼쪽으로부터 여백을 주기 위함 */
  transform: translate(-50%, -50%);
  z-index: 1;
}

/* 반응형 이미지 크기 조정 */
@media screen and (max-width: 480px) {
  .hero img {
    height: 270px;
    width: 300px;
    margin-top: 10px;
  }
}


.hero p {
  display: inline;
  font-size: 27px;
  font-weight: 600;
  position: relative;
  z-index: 2;
  font-family:'Pretendard', sans-serif;  /* 한글 폰트 */
  letter-spacing: 1px;
  color: white;
  top: 30px; 
}

/* 반응형 p 태그 폰트 크기 조정 */
@media screen and (max-width: 768px) {
  .hero p {
    font-size: 22px;
  }

  .hero img {
    width: 400px;
  }
}

@media screen and (max-width: 480px) {
  .hero p {
    font-size: 18px;
  }

  .hero img {
    height: 250px;
  }
}

.hero p:nth-of-type(2) {
  color: #128834;
}
