.activity-section {
  color: white;
  padding: 50px 0px;
  font-family: "Krona One", sans-serif;
  max-width: 1500px;
  margin: -430px auto 0 auto; /* margin-left 제거 */
  text-align: left;
}

.activity-section h2 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
}

/* 2x2 박스 정렬을 위한 grid 레이아웃 */
.activity-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 90px;
  justify-content: center;
  align-items: center;
  margin: 65px auto;
}

.activity-box {
  width: 400px;
  height: 380px;
  background-color: #d9d9d9;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;  /* 부드럽게 움직이도록 */
}

/* 뭔가 박스가 강조되는 느낌을 주고 싶음 */
.activity-box:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
