.header {
  width: 80%;
  height: 80px;
  position: fixed;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  z-index: 80;
}

@media (max-width: 100px) {
  .header {
    display: none;
  }
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 55px;
  width: auto;
  object-fit: contain;
  margin-right: 10px; /* 로고와 텍스트 사이 간격 조정 */
  transform: rotate(-35.51deg) scale(0.85); /* 기존 transform 제거 */
}

.logo-text {
  text-decoration: none;
  color: white;
  font-family: "Krona One", sans-serif;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 2px;
}

.nav {
  display: flex;      
  align-items: center;      
}

.nav ul {
  list-style: none;
  display: flex;
  align-items: center;    
  padding: 0;
  margin-top: 1%;
}

.nav ul li {
  display: flex;
  align-items: center;   
  margin: 0 20px;
  color: white;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
}

.nav ul li a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;        
  height: 40px;            
  line-height: 40px;        
}

.nav ul li a:hover {
  color: #349e40;
}

.recruiting-wrapper {
  display: flex;
  align-items: center;   
  height: 40px;            
}

.recruiting-btn {
  display: flex;
  align-items: center;        
  justify-content: center;
  padding: 8px 20px;
  border: 2px solid white;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;
  height: 40px;              
  box-sizing: border-box;
  line-height: 1;           
}

.recruiting-btn:hover {
  background-color: #349e40;
  color: black;
  border-color: #349e40;
}
