.hero {
  color: white;
  text-align: center;
  font-family: "Krona One", sans-serif;
  margin: 100px 0;
  position: relative;
}

.hero h2 {
  font-size: 100px;
  margin-top: 80px;
  margin-bottom: 40px;
  position: relative;
  z-index: 2;
}

.hero img {
  width: 170%;
  height: 170%;
  opacity: 0.3;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.hero p {
  display: inline;
  font-size: 26px;
  font-weight: 900;
  position: relative;
  z-index: 2;
}

.hero p:nth-of-type(2) {
  color: #1d903e;
}
