<%-include('header.ejs')%>
  
<form action="/applyProc" method ="post">
  <ul>
    <li>지원하기</li>
    <li>이름 : <input type="text" name="name" required></li>
    <li>학번 : <input type="text" name="student_number" required></li>
    <li>전화번호 : <input type="text" name="phone_number" required></li>
    <li>이메일 : <input type="text" name="email" required></li>
    <li>질문1 : <input type="text" name="a1" required></li>
    <li>질문2 : <input type="text" name="a2" required></li>
  </ul>
</form>

<%-include('footer.ejs')%>