

.Form{
    margin: 50px 50px auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    
}

.ApplyHeader {
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    margin-bottom: -50px;
}

.ApplyHeader > h1{
    color: white;
    font-size: clamp(20px, 8vw, 80px);
    margin-left: 0.5vw;
    font-family: Pretendard;
    text-align: left;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.20px;
    word-wrap: break-word;
}

.Form > h3 {
    margin-left: 0.5vw;
    text-align: left;
    color: white;
    font-size: 3.5vw;
    font-size: clamp(10px, 3vw, 35px);
    font-family: Pretendard;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 1px;
    word-wrap: break-word;
}

.Form > section {
    align-items: center;
    width: 100%;
  }

.Form > section > input {

    align-items: center;
    width: 100%; 
    height: clamp(30px, 5vw, 70px);
    max-width: 100%; 
    padding: 20px;
    background-color: #5F5F5F;
    border-radius: 12px;
    color: #8f8989;
    font-size: clamp(14px, 2vw, 20px);
    font-family:'Pretendard', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    word-wrap: break-word;
}


.Form > section > textarea {
    align-items: center;
    width: 100%; 
    max-width: 100%; 
    resize: none;

    padding: 10px 20px;
    height: clamp(140px, 30vw, 600px);
    background-color: #5F5F5F;
    border-radius: 12px;
    
    color: #8f8989;
    font-size: clamp(14px, 2vw, 20px);
    
    font-family:'Pretendard', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    word-wrap: break-word;
}

.Form > section > input::placeholder,
.Form > section > textarea::placeholder {
    color: #8f8989;
    font-size: clamp(14px, 2vw, 20px);
    
    font-family:'Pretendard', sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    margin-left: 5vw auto;
}


.Form .agreement{
    margin-top: 3vw;
    margin-bottom: 10vw;
}

.Form .submit{
    
    width: 100%; 
    
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    word-wrap: break-word;
}