<%-include('header.ejs')%>
  
<form action="/applyProc" method ="post">
  <ul>
    <li>지원하기</li>
    <li>이름 : <input type="text" name="name" required></li>
    <li>학번 : <input type="text" name="student_number" required></li>
    <li>전화번호 : <input type="text" name="phone_number" required></li>
    <li>이메일 : <input type="text" name="email" required></li>
    <li>질문1 : <br>
      <textarea name="a1" cols="50" rows="10"></textarea></li>
    <li>질문2 : <br>
      <textarea name="a2" cols="50" rows="10"></textarea></li>
      <button>제출하기</button>
  </ul>
</form>

<%-include('footer.ejs')%>