.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  
}

.login-container h1{
  padding-bottom: 13px;
  color : white;
}

input {
  margin: 10px;
  padding: 8px;
  width: 220px;
  background-color: #707070; /* 연한 회색 */
  color: white; /* 글씨 색상 흰색 */
  border: 1px solid #a9a9a9; /* 경계를 더 부드럽게 */
  border-radius: 5px; /* 모서리를 약간 둥글게 */
  font-family: "Pretendard Variable"
}

input::placeholder {
  color: #f0f0f0; /* 플레이스홀더 글씨 색상 (더 연한 흰색) */
  font-size: 12px;
  font-family: "Pretendard Variable"
}


button {
  margin-top: 20px;
  padding: 8px 13px;
  background-color: #109734;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

button:hover {
  background-color: #004f27;
}
