.Form{
  margin: -250px 20px auto;
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 800px;
  padding: 200px;
  padding-left: 0;
  padding-right: 0;
  transform-origin: top left; /* 원래 위치 유지 */
  transform: scale(calc(100vw / 1920)); /* 전체 크기만 줄어듦 */
}


.ApplyHeader {

  text-align: left;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  width: 80%;
  padding-left: 0;
  padding-right: 0;
}

.ApplyHeader > h1 {
  color: white;
  font-size: clamp(20px, 8vw, 40px);
  font-family: 'Pretendard', sans-serif;
  font-family: Pretendard;
  text-align: left;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.2px;
  word-wrap: break-word;

  padding-right: 0;
  margin-left: 0;
}


.ApplyHeader > h1 {
  color: white;
  font-size: 50px;
  font-family: Pretendard, sans-serif;
  text-align: left;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.2px;
  word-wrap: break-word;
  padding-left: 100px;
  padding-right: 0;
  margin-left: 0;
}


.Form > h3 {
  margin-left: 0.5vw;
  margin-bottom: 20px;
  margin-top: 50px;
  text-align: left;
  color: white;
  font-size: 3.5vw;
  font-size: clamp(10px, 3vw, 19px);
  font-family: 'Pretendard', sans-serif;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 1px;
  word-wrap: break-word;
}

.Form > section {
  align-items: center;
  width: 100%;
  transform: scale(calc(100vw / 1920));
}

/* 인적 사항 입력 텍스트 */
.Form > section > input {
  align-items: center;
  width: 100%; 
  height: clamp(25px, 2vw, 50px);
  max-width: 100%; 
  padding: 23px 15px;
  background-color: #5F5F5F;
  border-radius: 12px;
  color: #ffffff;
  font-size: clamp(14px, 2vw, 15px);
  font-family:'Pretendard', sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-bottom: 10px;
}

/* 질문 사항 입력 텍스트 */
.Form > section > textarea {
  align-items: center;
  width: 100%;
  resize: none;
  padding: 15px 20px;
  height: clamp(140px, 30vw, 600px);
  background-color: #5F5F5F;
  border-radius: 12px;
  color: #ffffff;   /* 질문 입력시 색 변화 */
  font-size: clamp(14px, 2vw, 15px);
  font-family:'Pretendard', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-bottom: 10px;
}
