.body-container {
  display: grid;
  grid-template-rows: repeat(5, auto);
  grid-template-columns: 1fr 3fr;
  gap: 15px 30px;       /* 행과 열 간격 */
  align-items: center;  /* 수직 중앙 정렬 */
  margin-left: 160px;
  max-width: 1300px;    /* 화면이 줄어들어도 너비 유지 */
  width: 1500px;          /* 가로 길이를 화면 크기에 맞춤 */
  white-space: pre-line;
}

.body-container h1,
.body-container h2,
.body-container h3,
.body-container h4 {
  font-size: 20px;
  color: white;
  text-align: left;
  padding-bottom: 13%;
  margin-left: 20px;
  white-space: pre-line;
}

.body-container p {
  font-size: 20px;
  color: white;
  text-align: left;
  margin-bottom: 40px;
  margin-left: -90px;
  white-space: pre-line;

}

.body-container h4 {
  font-size: 20px;
  color: white;
  text-align: left;
  margin-left: 20px;
  display: flex;
  align-items: center; /* 수직 정렬 */
}

.info-container {
  display: grid;
  grid-template-columns: 200px auto; /* 제목과 내용의 컬럼 크기 설정 */
  row-gap: 0px; /* 행 간격을 일정하게 유지 */
  align-items: start; /* 위쪽 정렬 */
}

h4 {
  margin-bottom: auto;
  font-size: 20px;
  font-weight: bold;
}

.info p {
  margin-bottom: 10px;
}

/* 버튼을 별도의 행으로 배치 */
.button-container {
  grid-column: span 2;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 5%;
  margin-right: 130px;
}

.apply-btn {
  font-family: "Pretendard", sans-serif;
  background-color: #349e40; /* 초록색 */
  border: none;
  color: white;
  padding: 12px 25px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  text-decoration: none; /* 밑줄 제거 */
}

.apply-btn:hover {
  background-color: #26732c; /* 어두운 초록색 */
  transform: scale(1.05); /* 살짝 커지는 효과 */
}
