.re-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1500px;
  padding: 0 40px;
  position: absolute;
  top: 0;
  left: 0;
}

.re-logo {
  height: 80px;
  transform: rotate(-35.51deg) scale(0.85);
  margin-left: 190%;
  margin-top: 30px;
}

.main-btn {
  z-index: 10;
  font-family: "Pretendard", sans-serif;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  text-decoration: none;
  margin-right: 155px;
  margin-top: 40px;
}

.main-btn:hover {
  background-color: white;
  color: black;
  transform: scale(1.05);
}
